.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.arrowImage {
  width: 30%;
  margin: 10px 25px 10px 25px;
}

.logoImage {
  width: 90%;
  margin: 17px 2px 25px 11px;
}

.homeLogo {
  width: 10%;
  margin: 10px 25px 10px 25px;
}

.home {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

.loginPara {
  float: left;
  width: 40%;
  margin: 10px;
}
.createAcc {
  float: right;
  width: 40%;
  margin: 10px 38px 0px 0px;
}

p {
  font-size: 1.2em;
}

.promoText {
  margin: 10px 5px 0px 3px;
}

/* The following CSS is from the Burger Git Hub project at https://github.com/negomi/react-burger-menu/blob/master/README.md */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* GitHub Burger Project styling ends here */

/* Login Icon */
.avatarImage {
  float: left;
  width: 17%;
  margin: 12px 0px 0px 11px;
  padding: 10px;
}

.photos {
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 5;
  -webkit-column-gap: 0px;
  -moz-column-count: 5;
  -moz-column-gap: 0px;
  column-count: 5;
  column-gap: 0px;
}

.photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

.picRow {
  display: flex;
  flex-wrap: wrap;
  padding: 1px 4px;
}

.picCol {
  flex: 10%;
  padding: 0 4px;
}

.cityImage {
  margin-top: 8px;
  width: 100%;
}

/*
.cityImg {
  position: relative;
  width: 10px;
  height: 10px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
*/

.AmsterdamBox {
  background-image: url("./images/amsterdam.jpeg");
  text-align: center;
}

.BarcaBox {
  background-image: url("./images/barcelona.jpeg");
}
